@using VMS.Web.Models;
@model AppointmentViewModel
<div class="modal fade" id="modalRegisterVisitor">
    <div class="modal-dialog">
        <div class="modal-content ShimanoBox">
            @using (Ajax.BeginForm("SaveNewVisitor", "Appointment", null,
                                                    new AjaxOptions
                                                    {
                                                        OnSuccess = "onSuccessRegisterVisitor",
                                                        OnFailure = "onFailureRegisterVisitor",
                                                        OnBegin = "onProgressRegisterVisitor",
                                                    }, new { @id = "formRegisterVisitor" }))
            {
                <div class="modal-header">
                    <a href="#" style="color:white" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title" id="title">Register Visitor</h3>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="k-content">
                                @Html.LabelFor(m => m.Visitor.FullName, "Name : ")<span style="color:red">* Required</span><br />
                                @(Html.Kendo()
        .TextBoxFor(m => m.Visitor.FullName)
        .HtmlAttributes(new { @class = "form-control", style = "width:100%", required = "required", data_required_msg = "Please Fill the Name" }))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Visitor.Company, "Company : ")<span style="color:red">* Required</span><br />
                            <div class="k-content">
                                @(Html.Kendo()
.AutoCompleteFor(m => m.Visitor.Company).Filter("contains").MinLength(2).DataTextField("Company").Events(e => e.Change("CheckNames"))
.HtmlAttributes(new { @class = "ShimanoTextbox", style = "width:100%;", required = "required", data_required_msg = "Please Fill the Company" }).DataSource(source =>
{
    source.Read(read => { read.Action("PopulateCompanyVendor", "Visitor").Data("filterData"); }).ServerFiltering(true);
}))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="k-content">
                                @Html.LabelFor(m => m.Visitor.JobDesc, "Job Title : ")<br />
                                @(Html.Kendo()
        .TextBoxFor(m => m.Visitor.JobDesc)
        .HtmlAttributes(new { @class = "form-control", style = "width:100%" }))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="k-content">
                                @Html.LabelFor(m => m.Visitor.Email, "Email : ")<br />
                                @(Html.Kendo()
        .TextBoxFor(m => m.Visitor.Email)
        .HtmlAttributes(new { @class = "form-control", style = "width:100%" }))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="k-content">
                                @Html.LabelFor(m => m.Visitor.Phone, "Phone : ")<span style="color:red">* Required</span><br />
                                @(Html.Kendo()
        .TextBoxFor(m => m.Visitor.Phone)
        .HtmlAttributes(new { @class = "form-control", style = "width:100%", required = "required", data_required_msg = "Please Fill the Phone" }))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="k-content">
                                @Html.LabelFor(m => m.Visitor.VehicleNo, "VehicleNo : ")<br />
                                @(Html.Kendo()
        .TextBoxFor(m => m.Visitor.VehicleNo)
        .HtmlAttributes(new { @class = "form-control", style = "width:100%" }))
                            </div>
                        </div>
                    </div>
                    <br />

                </div>
                <div class="modal-footer">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-block" type="submit" id="btnSaveRegister"><i class="fa fa-save"></i> Save</button>

                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-danger btn-block" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
                    </div>
                    <div class="load-wrapp" id="loadingSubmit" hidden="hidden">
                        <div class="load-3">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    function registerVisitor() {
        $("#modalRegisterVisitor").modal("show");
    }
    function onSuccessRegisterVisitor(data) {
        if (data.Success) {
            Sys.DialogClose();
            $("#modalRegisterVisitor").modal("hide");
            $("#txtSearchName").val($("#@Html.IdFor(m => m.Visitor.FullName)").val())
            $("#VisitorGrid").data("kendoGrid").VisitorGrid.read()
            $("#@Html.IdFor(m=>m.Visitor.FullName)").val("")
            $("#@Html.IdFor(m=>m.Visitor.Company)").val("")
            $("#@Html.IdFor(m=>m.Visitor.JobDesc)").val("")
            $("#@Html.IdFor(m=>m.Visitor.Phone)").val("")
            $("#@Html.IdFor(m => m.Visitor.Email)").val("")
            $("#@Html.IdFor(m=>m.Visitor.VehicleNo)").val("")

        } else {
            toastr.warning(data.Message, 'Warning!')
            Sys.DialogClose();
        }
        $('#btnSaveRegister').prop('disabled', false);
        $("#btnSaveRegister").show()
        $("#loadingSubmit").hide()

    }
    function onFailureRegisterVisitor(data) {
        toastr.warning(data, 'Warning!')
    }
    function onProgressRegisterVisitor() {
        Sys.LoadingShow();
    }
    function filterData() {
        return {
            text: $("#@Html.IdFor(m => m.Visitor.Company)").val()
        };
    }
</script>
<script>
        function CheckNames() {
            var Name = $("#@Html.IdFor(m => m.Visitor.FullName)").val();
            var Company = $("#@Html.IdFor(m => m.Visitor.Company)").val();
            var JobDesc = $("#@Html.IdFor(m => m.Visitor.JobDesc)").val();
            $.ajax({
                url: '@Url.Action("CheckVisitorName", "Visitor")',
                cache: false,
                type: "POST",
                data: { Name: Name, Company:Company, JobDesc:JobDesc },
                success: function (data) {
                    if (!data.Success) {
                        toastr.success("Name is Available!");
                        $("#btnSaveRegister").prop("disabled", false);
                    }
                    else {
                        toastr.warning("This Name has been taken by " + data.Message);
                        $("#btnSaveRegister").prop("disabled", true);
                        $("#@Html.IdFor(m => m.Visitor.FullName)").focus()

                    }

                },
                error: function (data) {
                    toastr.error("Please Call IT");
                }
            });
        }
</script>



