@model VMS.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
@using System.Web.Optimization
@{
    Layout = null;
}
S
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Css")
    @Styles.Render("~/kendoCSS")
    @Scripts.Render("~/Jquery")
    @Scripts.Render("~/Js")
    @Scripts.Render("~/kendoJS")
    @Scripts.Render("~/Highchart")
    <style>
        .ShimanoBlackBox {
            background-color: #323232;
            color: white;
        }

        .ShimanoBorder {
            border: outset 5px #3c8dbc;
        }
    </style>

    <style>
        .login-page {
            background-color:black;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <section class="content">
        <br /><br />
        <br /><br />

        <div class="row">
            <div class="col-md-4">

            </div>
            <!-- left column -->
            <div class="col-md-4">
                <div class="box box-info ShimanoBlackBox ShimanoBorder">
                    <div class="box-header with-border">
                        <h3 style="color:white">Welcome to Visitor Management System</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body" id="loginForm">
                        @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()
                            <p>Use Your Windows Account or Your Registered Account</p>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.UseID, "Username :" , new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.UseID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UseID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.UsePass, "Password :", new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.UsePass, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UsePass, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div ckass="form-group">
                                <div class="col-md-4"></div>
                                @Html.CheckBoxFor(m => m.isWinAuth)
                                @Html.LabelFor(m => m.isWinAuth, "Windows Authentification", new { @class = "control-label" })
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                                </div>
                            </div>
                            <a href="@Url.Action("Index","Home")" >Go to Home</a>

                        }
                    </div>



                    <!-- /.box-footer -->

                </div>

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>




    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });

    </script>
    @{
        if (TempData["ERROR"] != null)
        {
            <script type="text/javascript">
                toastr.error('@TempData["ERROR"]', "ERROR");
            </script>
        }
        if (TempData["SUCCESS"] != null)
        {
            <script type="text/javascript">
                toastr.error('@TempData["SUCCESS"]',"SUCCESS");
            </script>
        }

    }

</body>
</html>
