@model IEnumerable<VMS.Web.Models.EPMaster>
@{
    ViewBag.Title = "Exit Permit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Scripts.Render("~/Mousetrap")
@Styles.Render("~/DataTablesCS")
@Scripts.Render("~/DataTablesJS")


<style>
    .k-grid {
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
<script>
    $(document).ready(function () {
        ShowExitPermit();
        ShowExitPermit2();
        //Role();
    })
</script>
<script>
    function ShowExitPermit()
    {
        var X = "'";
        var dateFrom = $("#start1").val();
        var dateTo = $("#end1").val();
        var ExitPermitNo = $('#txtSearch').val();
        var table = $("#table1").DataTable({
            destroy: true,
            "order": [[1, "id"]],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": "@Url.Action("GetExitPermitDatatables", "ExitPermit")",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    return $.extend({}, d, {
                        "ExitPermitNo": ExitPermitNo,
                        "DateFrom": dateFrom,
                        "DateTo": dateTo
                    });
                }
             },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                     "targets": [5],
                     "searchable": false,
                     "orderable": false
                }],
            "columns": [
                { "data": "SENo", "name": "SENo", "title": "SENo", "autoWidth": true },
                { "data": "EPNo", "name": "EPNo", "title": "EP Number", "autoWidth": true },
                { "data": "UseDep", "name": "UseDep", "title": "Dept", "autoWidth": true },
                { "data": "PlantID", "name": "plantID", "title": "Section", "autoWidth": true },
                { "data": "Destination", "name": "Destination", "title": "Destination", "autoWidth": true },
                { "data": "Date", "name": "Date", "title": "Date", "autoWidth": true },
                //{ "data": "Out", "name": "Out", "title": "Time Out", "autoWidth": true },
                //{ "data": "In", "name": "In", "title": "Time In", "autoWidth": true },
                { "data": "CompTrans", render: function (data, type, row)
                    {
                        if (data == 'False') {
                            return data = 'No'
                        }
                        else {
                            return data = 'Yes'
                        }
                        //return '<span class="badge badge-success">' + data + '</span>';
                    }, "name": "CompTrans", "title": "CompTrans", "autoWidth": true },
                { "data": "CompTransTime", "name": "CompTransTime", "title": "CompTransTime", "autoWidth": true },
                { "data": "Status", "name": "Status", "title": "Status", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) {
                        return '<button class="btn btn-success"  onclick="EditMaster(' + X + '' + full.EPNo + '' + X + ')"><i class="fa fa-check"></i></button>&nbsp;<button class="btn btn-warning"  onclick="EditTime(' + X + '' + full.EPNo + '' + X +')"><i class="fa fa-clock-o"></i></button>';
                }
                },
            ]
            });
        ////////////////////////////////////////
        $("#addToList").click(function (e) {
            e.preventDefault();
            if ($.trim($("#UseId").val()) == "") {
                toastr.error("Please add at last 1 employee", "Error");
            }
            else {
                if ($.trim($("#UseId").val().length) < 5) {
                    toastr.error("Make sure you enter correct name", "Error");
                }
                else {
                    var UseId = $("#UseId").val(),
                    detailsTableBody = $("#detailsTable tbody");
                    var EPitem = '<tr><td>' + UseId + '</td><td>' + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                    detailsTableBody.append(EPitem);
                    clearItem();
                }
            }
        });
        ////////////////////////////////////////
        $("#saveOrder").click(function (e) {
            e.preventDefault();
            var orderArr = [];
            orderArr.length = 0;
            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    UseID: $(this).find('td:eq(0)').html()
                });
            });
            if (orderArr.length == 0 || orderArr.length > 4) {
                toastr.error("The minimum is 1 name and maximum is 4 names.", "Error");
            }
            else {
                var data = JSON.stringify({
                    UseDep: $("#UseDep").val(),
                    PlantId: $("#PlantId").val(),
                    Approver: $("#Approver").val(),
                    Destination: $("#Destination").val(),
                    Date: $("#Date").val(),
                    Out: $("#Out").val(),
                    ActOut: "00:00:00",
                    In: $("#In").val(),
                    ActIn: "00:00:00",
                    CompTrans: $("#CompTrans").val(),
                    CompTransTime: $("#CompTransTime").val(),
                    OTH: $("#OTH").val(),
                    Status: "PENDING",
                    Remarks: $("#Remarks").val(),
                    EPDetailss: orderArr
                });
                saveOrder(data);
            }
        });
        ////////////////////////////////////////
    }
</script>
<script>
    function ShowExitPermit2() {
        var dateFrom2 = $("#start2").val();
        var dateTo2 = $("#end2").val();
        var ExitPermitNo2 = $('#txtSearch2').val();
        var table = $("#table2").DataTable({
            destroy: true,
            "order": [[1, "id"]],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": "@Url.Action("GetExitPermitDatatables2", "ExitPermit")",
                "type": "POST",
                "datatype": "json",
                "data": function (a) {
                    return $.extend({}, a, {
                        "ExitPermitNo": ExitPermitNo2,
                        "DateFrom": dateFrom2,
                        "DateTo": dateTo2
                    });
                }
             },
            "columnDefs":
                [{
                     "targets": [6],
                     "searchable": false,
                     "orderable": false
                }],
            "columns": [
                { "data": "EPNo", "name": "EPNo", "title": "EP Number", "autoWidth": true },
                { "data": "UseDep", "name": "UseDep", "title": "Dept", "autoWidth": true },
                { "data": "PlantID", "name": "plantID", "title": "Section", "autoWidth": true },
                { "data": "CreateBy", "name": "Created By", "title": "Created By", "autoWidth": true },
                { "data": "Employee", "name": "Name", "title": "Name", "autoWidth": true },
                { "data": "Destination", "name": "Destination", "title": "Destination", "autoWidth": true },
                { "data": "Date", "name": "Date", "title": "Date", "autoWidth": true },
                { "data": "Out", "name": "Out", "title": "Time Out", "autoWidth": true },
                { "data": "ActOut", "name": "ActOut", "title": "Act. Time Out", "autoWidth": true },

                { "data": "In", "name": "In", "title": "Time In", "autoWidth": true },
                { "data": "ActIn", "name": "ActIn", "title": "Act. Time In", "autoWidth": true },
                { "data": "CompTrans", render: function (data, type, row)
                    {
                        if (data == 'False') {
                            return data = 'No'
                        }
                        else {
                            return data = 'Yes'
                        }
                        //return '<span class="badge badge-success">' + data + '</span>';
                    }, "name": "CompTrans", "title": "CompTrans", "autoWidth": true },
                { "data": "CompTransTime", "name": "CompTransTime", "title": "CompTransTime", "autoWidth": true },
                { "data": "Status", "name": "Status", "title": "Status", "autoWidth": true },
            ]
        });
    }
</script>
<script>
    function startChangeHis() {
        var endPicker = $("#end1").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            endPicker.min(startDate);
        }
        ShowExitPermit();
    }
    function startChangeHis2() {
        var endPicker2 = $("#end2").data("kendoDatePicker"),
            startDate2 = this.value();

        if (startDate2) {
            startDate2 = new Date(startDate2);
            startDate2.setDate(startDate2.getDate());
            endPicker2.min(startDate2);
        }
        ShowExitPermit2();
    }
</script> @*FILTER DATE*@
<script>
    function CompTransChange() {
        var A = $("#CompTrans").val();
        if (A == "True") {
            $('#driverTimeDiv').show();
        }
        else {
            $('#driverTimeDiv').hide();
            $('#OTHTimeDiv').hide();
        }
    }
    function ComTransTimeChange() {
        var A = $("#CompTransTime").val();
        if (A == "OTH") {
            $('#OTHTimeDiv').show();
        }
        else {
            $('#OTHTimeDiv').hide();
        }
    }
</script>
<script>
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("saveOrder", "ExitPermit", new { area=""})',
                data: data,
                success: function (result) {
                    if (result == "SUCCESS") {
                        toastr.success(
                            'Your Exit Permit has been submitted. Track the status from Pocket-Pal History',
                            'Success',
                            {
                                timeOut: 2000,
                                fadeOut: 2000,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            }
                        );
                    }
                    else
                    {
                        toastr.error(
                            result, 'ERROR',
                            {
                                timeOut: 2000,
                                fadeOut: 2000,
                                onHidden: function () {
                                    //window.location.reload();
                                }
                            }
                        );
                    }
                    
                },
                error: function () {
                     toastr.error("ERROR", "Oops something wrong");
                }
            });
        }
        function clearItem() {
            $("#UseId").val('');
        }
        function addNewOrder() {
            $("#newExitPermit").modal();
        }
        function ExportReport() {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("TriggerExport", "ExitPermit")',
                success: function () {
                    window.location = '@Url.Action("ExportExitPermit", "ExitPermit")' + "?start2=" + $("#start2").val() + "&end2=" + $("#end2").val();
                    swal({
                        title: "SUCCESS", icon: "success", text: "Report exported", type: "success"
                    }).then(function () {
                        location.reload();
                    }
                    );
                },
                error: function () {
                    swal({
                        title: "Error", icon: "error", text: "Oops, something wrong", type:
                            "error"
                    }).then(function () {
                        location.reload();
                    }
                    );
                }
            });
        }
        var EditMaster = function (id)
        {
            //var url = "/ExitPermit/EditMaster?SENo=" + id;
            var url = '@Url.Action("EditMaster", "ExitPermit")' + "?EPNo=" + id;
            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");
            })
        }
        var EditTime = function (id)
        {
            //var url = "/ExitPermit/EditTime?SENo=" + id;
            var url = '@Url.Action("EditTime", "ExitPermit")' + "?EPNo=" + id;
            $("#myModalBodyDiv2").load(url, function () {
                $("#myModal2").modal("show");
            })
        }
        function GetPlants() {
            return {
                Plant: $("#PlantId").val()
            }
        }
        function GetDept() {
            return {
                dept: $("#UseDep").val(),
                plant: $("#PlantId").val(),
            }
    }
    function GetDept2() {
        return {
            dept: $("#UseDep").val(),
            plant: $("#PlantId").val(),
        }
    }
        function PopulateDepartment() {
            $("#UseDep").data("kendoComboBox").dataSource.read();
        }
        function PopulateApprover() {
            $("#Approver").data("kendoComboBox").dataSource.read();
        }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="box ShimanoBox" >
            <div class="box-body" >
                <div class="row">
                    <div class="col-md-12" ">
                        <h3 style="text-align: center; color: white; background-color: dodgerblue"><b>OUTSTANDING EXITPERMIT</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="rowGridExitPermitInv1">
    <div class="col-md-12">
        <div class="box ShimanoBox">
            <div class="box-body">
                <div id="rowExitPermitDetail1">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-plus" onclick="addNewOrder()"><i class="fa fa-plus"></i> Create ExitPermit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="k-content">
                                @Html.Label("StartDateTxt", "Start Date :")
                                @(Html.Kendo().DatePicker()
                                            .Name("start1")
                                            .Start(CalendarView.Month)
                                            .Depth(CalendarView.Month)
                                            .Max(DateTime.Today).Events(e => e.Change("startChangeHis"))
                                            .Format("yyyy-MM-dd")
                                            .Value(DateTime.Today.AddMonths(-1))
                                            .HtmlAttributes(new { style = "width: 100%", title = "datepicker", @class = "form-control" })
                                    )
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="k-content">
                                @Html.Label("EndDateTxt", "End Date :")
                                @(Html.Kendo().DatePicker()
                                        .Name("end1")
                                        .Depth(CalendarView.Month)
                                        .Min(DateTime.Today.AddYears(-1))
                                        .Max(DateTime.Today).Events(e => e.Change("ShowExitPermit"))
                                        .Format("yyyy-MM-dd")
                                        .Value(DateTime.Today)
                                        .HtmlAttributes(new { style = "width: 100%", title = "datepicker", @class = "form-control" })
                                    )
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="k-content">
                                @Html.Label("txtSearch", "Keyword :")
                                @Html.Kendo().TextBox().Name("txtSearch").HtmlAttributes(new { @class = "form-control ShimanoTextBox", style = "width:100%", @onchange = "ShowExitPermit()" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div style="width:100%; margin:0 auto; overflow-x:scroll">
                                <table id="table1" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>EP Number</th>
                                            <th>Dept</th>
                                            <th>Section</th>
                                            <th>Destination</th>
                                            <th>Date</th>
                                            @*<th>Time Out</th>
                                            <th>Time In</th>*@
                                            <th>Company Transport</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="rowGridExitPermitInv2">
    <div class="col-md-12">
        <div class="box ShimanoBox">
            <div class="box-body">
                <div id="rowExitPermitDetail2">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="k-content">
                                @Html.Label("StartDateTxt", "Start Date :")
                                @(Html.Kendo().DatePicker()
                                            .Name("start2")
                                            .Start(CalendarView.Month)
                                            .Depth(CalendarView.Month)
                                            .Max(DateTime.Today).Events(e => e.Change("startChangeHis2"))
                                            .Format("yyyy-MM-dd")
                                            .Value(DateTime.Today.AddMonths(-1))
                                            .HtmlAttributes(new { style = "width: 100%", title = "datepicker", @class = "form-control" })
                                    )
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="k-content">
                                @Html.Label("EndDateTxt", "End Date :")
                                @(Html.Kendo().DatePicker()
                                        .Name("end2")
                                        .Depth(CalendarView.Month)
                                        .Min(DateTime.Today.AddYears(-1))
                                        .Max(DateTime.Today).Events(e => e.Change("ShowExitPermit2"))
                                        .Format("yyyy-MM-dd")
                                        .Value(DateTime.Today)
                                        .HtmlAttributes(new { style = "width: 100%", title = "datepicker", @class = "form-control" })
                                    )
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="k-content">
                                @Html.Label("txtSearch", "Keyword :")
                                @Html.Kendo().TextBox().Name("txtSearch2").HtmlAttributes(new { @class = "form-control ShimanoTextBox", style = "width:100%", @onchange = "ShowExitPermit2()" })
                            </div>
                        </div>
                        @*@using (Html.BeginForm("ExportExitPermit", "ExitPermit", FormMethod.Post))
                        {*@
                            <div class="col-md-3">
                                <div class="col-md-3">
                                    <br />
                                    <button class="btn btn-success" onclick="ExportReport()"><i class="fa fa-file-excel-o"></i> Export Exel</button>
                                </div>
                            </div>
                        @*}*@
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div style="width:100%; margin:0 auto; overflow-x:scroll">
                                <table id="table2" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>EP Number</th>
                                            <th>Dept</th>
                                            <th>Section</th>

                                            <th>Reqeustor</th>
                                            <th>Destination</th>
                                            <th>Date</th>
                                            <th>Time Out</th>
                                            <th>Act. Time Out</th>

                                            <th>Time In</th>
                                            <th>Act. Time In</th>
                                            <th>Company Transport</th>
                                            <th>Driver  Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*MODAL*@
<div id="newExitPermit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New ExitPermit</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type="hidden" id="MasterId" />
                    <input type="hidden" id="EPNo" />
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.Label("Section", "Section :")
                            @(Html.Kendo().ComboBox()
                                              .Name("PlantId")
                                              .Filter("contains")
                                              .Placeholder("Select Plant...")
                                              .DataTextField("plantName")
                                              .DataValueField("plantId")
                                              .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("getPlantList", "MasterData");
                                                    });
                                                }).Events(e => e.Change("PopulateDepartment"))
                                              .Suggest(true)
                                              .HtmlAttributes(new { style = "width:100%;" })
                                                            )
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Departement", "Departement :")
                            @(Html.Kendo().ComboBox()
                                .Name("UseDep")
                                .Filter("contains")
                                  .Placeholder("Select Department...")
                                  .DataTextField("DeptName")
                                  .DataValueField("Dept")
                                  .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetDepartmentforDDList", "MasterData").Data("GetPlants");
                                        });
                                    }).Events(e => e.Change("PopulateApprover"))
                                    .AutoBind(false)
                                    .HtmlAttributes(new { style = "width:100%;" })
                                                )

                        </div>
                        <div class="col-md-4">
                            @Html.Label("Approver", "Approver :")
                            @(Html.Kendo().ComboBox()
                                .Name("Approver")
                                .Filter("contains")
                                  .Placeholder("Select Approver...")
                                  .DataTextField("UseNam")
                                  .DataValueField("UseId")
                                  .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("getApproverList3", "MasterData").Data("GetDept");
                                        });
                                    }).AutoBind(false)
                                  .HtmlAttributes(new { style = "width:100%;" })
                                                )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.Label("Destination", "Destination :")
                            @(Html.Kendo().TextBox()
                                .Name("Destination")
                                .HtmlAttributes(new { @class = "form-control",
                                                           style = "width:100%",
                                                           required = "required",
                                                           data_required_msg = "Please Fill the Type" }))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.Label("Remarks", "Remarks :")
                            @(Html.Kendo().TextBox()
                                .Name("Remarks")
                                .HtmlAttributes(new { @class = "form-control",
                                                           style = "width:100%",
                                                           required = "required",
                                                           data_required_msg = "Please Fill the Type" }))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.Label("Date", "Date :")
                            @(Html.Kendo().DatePicker()
                                          .Name("Date")
                                          .Value(DateTime.Today)
                                          .Min(DateTime.Today)
                                          .Max(DateTime.Today)
                                          .Format("yyyy-MM-dd")
                                          //.Events(e => e.Change("endChange"))
                                          .HtmlAttributes(new { @class = "form-control",
                                                           style = "width:100%",
                                                           required = "required",
                                                           data_required_msg = "Please Fill the Type" }))
                        </div>
                        <div class="col-md-4">
                            @Html.Label("TimeOut", "Time Out :")
                            @(Html.Kendo().TimePicker()
                                          .Format("HH:mm")
                                          .Name("Out")
                                          //.Min("08:00")
                                          //.Max("16:00")
                                          .HtmlAttributes(new { style = "width:100%;" })
                                            )
                        </div>
                        <div class="col-md-4">
                            @Html.Label("TimeIn", "Time In :")
                            @(Html.Kendo().TimePicker()
                                          .Format("HH:mm")
                                          .Name("In")
                                          //.Min("08:00")
                                          //.Max("16:00")
                                          .HtmlAttributes(new { style = "width:100%;" })
                                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.Label("CompanyTrans", "Use Company Transport ?")
                            @(Html.Kendo().ComboBox()
                                    .Name("CompTrans")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Events(e => e.Change("CompTransChange"))
                                    .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() {
                                          Text = "YES", Value = "True"
                                        },
                                        new SelectListItem() {
                                          Text = "NO", Value = "False"
                                        }
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" }))
                        </div>
                        <div class="col-md-4" id="driverTimeDiv">
                            @Html.Label("CompanyTrans", "Transport Time ?")
                            @(Html.Kendo().ComboBox()
                                    .Name("CompTransTime")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() {
                                          Text = "07:30", Value = "07:30"
                                        },
                                        new SelectListItem() {
                                          Text = "09:30", Value = "09:30"
                                        },
                                        new SelectListItem() {
                                          Text = "13:30", Value = "13:30"
                                        },
                                        new SelectListItem() {
                                          Text = "Other time", Value = "OTH"
                                        }
                                    })
                                    .Events(e => e.Change("ComTransTimeChange"))
                                    .HtmlAttributes(new { style = "width:100%;" }))
                        </div>
                        <div class="col-md-4" id="OTHTimeDiv">
                            @Html.Label("OTH", "Other time")
                            @(Html.Kendo().TimePicker()
                                          .Format("HH:mm")
                                          .Name("OTH")
                                          //.Min("08:00")
                                          //.Max("16:00")
                                          .HtmlAttributes(new { style = "width:100%;" })
                                            )
                        </div>
                        <div class="col-md-4">
                            @*@Html.Label("StatusIs", "Status")
                @(Html.Kendo().ComboBox()
                    .Name("Status")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .BindTo(new List<SelectListItem>() {
                            new SelectListItem() {
                              Text = "PENDING", Value = "PENDING"
                            },
                            new SelectListItem() {
                              Text = "REJECTED", Value = "REJECTED"
                            },
                            new SelectListItem() {
                              Text = "APPROVED", Value = "APPROVED"
                            }
                        })
                    .HtmlAttributes(new { style = "width:100%;" }))*@
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="detailId" />
                            <div class="col-md-12">
                                @Html.Label("Employee", "Employee Username :")
                                <br />
                                <text><i><h8>please fill with username of <b>Pocket-Pal</b> (eg: sbm_user)</h8></i></text>
                                <br />
                                @(Html.Kendo().TextBox()
                                .Name("UseId")
                                .HtmlAttributes(new { @class = "form-control",
                                                           style = "width:100%",
                                                           required = "required",
                                                           data_required_msg = "Please Fill the Type" }))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <a id="addToList" class="btn btn-success">Add Employee</a>
                            </div>
                        </div>
                    </div>
                    <table id="detailsTable" class="table">
                        <thead>
                            <tr>
                                <th style="width:35%">Employee</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveOrder" type="button" class="btn btn-primary">Save Exit Permit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Approve</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit Time</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv2">


            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_MDLoader");
}
