
@using VMS.Library
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Scripts.Render("~/Mousetrap")
@Scripts.Render("~/Webcam")
@Styles.Render("~/DataTablesCS")
@Scripts.Render("~/DataTablesJS")
@Scripts.Render("~/Highchart")
<style>
    .ShimanoBlack {
        background-color: black;
        color: white;
    }

    .NoCard {
        text-decoration: underline;
        text-decoration-color: #6C757D;
    }

    .CardNoScan {
        text-decoration: underline;
        text-decoration-color: #FEC007;
    }

    .CardScan {
        text-decoration: underline;
        text-decoration-color: #17A2B8;
    }
</style>
<script>
    $(document).ready(function () {
        showMyTask();
        GenerateVisitorPerYear();
        GeneratePieChart();
        setInterval(function () {
            showMyTask();
        }, 90000);
        setInterval(function () {
            GenerateVisitorPerYear();
            GenerateGradeChart();
        }, 300000);
        setInterval(blinker, 2000);
        if ("@Session["isAuthoriseSeeNumber"].ToString().ToUpper()" == "TRUE") {
            $("#RowUrgentReport").show()
        }
        else {
            $("#RowUrgentReport").hide()
        }
        //if (time > stt) {
        //    toastr.info("sucess")
        //}
        //else {
        //    toastr.error("error")
        //}
    })
    function blinker() {
        $('.blinking').fadeOut(500);
        $('.blinking').fadeIn(1500);
    }

</script>
<script>
    function showMyTask() {
        $('#myTaskGrid').show("slow");
        var Name = $("#txtSearch").val()
        var StatusDashboard = $("#StatusDashboard").val()
        var Host = $("#txtByHost").val()
        var table = $("#myTaskGrid").DataTable({
            destroy: true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "language": {
                "emptyTable": "No Visitor By Today"
            },
            "scrollX" : true,
            "lengthChange": false,
            "ajax": {
                "url": "@Url.Action("ShowListToday", "Dashboard")",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    return $.extend({}, d, {
                        "Name": Name,
                        "Status": StatusDashboard,
                        "Host" : Host
                    });
                }
             },

                "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [0],
                    "searchable": false,
                    "orderable": false
                }],


                "rowCallback": function (row, data, index) {
                    var dt = new Date();
                    var time = dt.getTime();
                    var stt = new Date("November 13, 2013 " + "16:00");
                    stt = stt.getTime();
                    $(row).find('td:eq(7)').css('font-weight', 'bold');
                    $(row).find('td:eq(0)').css('font-weight', 'bold');
                    if (data["NeedApprove"].toUpperCase() == "FALSE") {
                        $(row).find('td:eq(5)').css('background-color', '#00a65a');
                        $(row).find('td:eq(5)').css('color', 'white').addClass(time > stt && (data["Status"].toUpperCase().includes("CHECKIN") || data["Status"].toUpperCase().includes("BREAK")) ? "blinking" : "")
                    }
                    else {
                        $(row).find('td:eq(5)').css('background-color', '#d73925');
                        $(row).find('td:eq(5)').css('color', 'white').addClass(time > stt && (data["Status"].toUpperCase().includes("CHECKIN") || data["Status"].toUpperCase().includes("BREAK")) ? "blinking" : "");

                    }

                    if (data["VisitorCardNo"] == "") {
                        $(row).find('td:eq(0)').css('background-color', '#e1e3e5');
                    }
                    else if (/[a-zA-Z]/.test(data["VisitorCardNo"]) || data["VisitorCardNo"].length <= 7) {
                        $(row).find('td:eq(0)').css('background-color', '#FEC007');

                    }
                    else {
                        $(row).find('td:eq(0)').css('background-color', '#17A2B8');

                    }
                },


    "columns": [

        {
            "data": "No",
            render: function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
            }
        },
        { "data": "TimeStart", "name": "TimeStart", "title": "Time In", "autoWidth": true },
        {
            "render": function (data, type, full, meta) {
                return '<p style="cursor: pointer;" onclick="ViewDetail(' + "'" + full.VisitorId + "','" + full.FullName + "'" + ')">' + full.FullName + '</p>';
            }
        },
        {
            "render": function (data, type, full, meta) {
                var data = "";
                if ("@Session["isAuthoriseSeeNumber"].ToString().ToUpper()" == "TRUE") {
                    return full.Phone
                }
                else {
                    return '-'
                }
            }
        },
        { "data": "Duration", "name": "Duration", "title": "Duration (Min)", "autoWidth": true },
        { "data": "VisitorType", "name": "VisitorType", "title": "Visitor Type", "autoWidth": true },
        { "data": "HostName", "name": "HostName", "title": "Host Name", "autoWidth": true },
        { "data": "Status", "name": "Status", "title": "Status", "autoWidth": true },
        { "data": "Area", "name": "Area", "title": "Area", "autoWidth": true },
    ]
    }
        );
    }
</script>


<div class="row">
    <div class="col-md-12">
        <div class="box ShimanoBox">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Summary of Visitor Status</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Graph for Visitor History</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.Label("txtSearch", "Search By Visitor Name or Company")
                                            @Html.Kendo().TextBox().Name("txtSearch").HtmlAttributes(new { @class = "form-control ShimanoTextBox", style = "width:100%", @onchange = "showMyTask()" })
                                        </div>
                                        <div class="col-md-4">
                                            <div class="k-content">
                                                @Html.Label("StatusDashboard", "Status : ")<br />
                                                @(Html.Kendo().ComboBox().Name("StatusDashboard")
                                          .Filter("contains")
                                          .Placeholder("Select Status...")
                                          .DataTextField("Text")
                                          .DataValueField("Value").Events(e => e.Change("showMyTask"))
                                          .BindTo(new List<SelectListItem>() {
                                                  new SelectListItem() {
                                                    Text = "ALL", Value = ""
                                                  },
                                                  new SelectListItem() {
                                                   Text = "APPROVED", Value = "APPROVED"
                                                  },
                                                  new SelectListItem() {
                                                   Text = "CHECKIN", Value = "CHECKIN"
                                                  },
                                                  new SelectListItem() {
                                                   Text = "BREAK", Value = "BREAK"
                                                  },
                                                  new SelectListItem() {
                                                   Text = "CHECKOUT", Value = "CHECKOUT"
                                                  },
                                                  new SelectListItem() {
                                                   Text = "PENDING", Value = "PENDING"
                                                  },
                                                  new SelectListItem() {
                                                   Text = "REJECTED", Value = "REJECTED"
                                                  }


                                          })
                                          .SelectedIndex(1)
                                          .Suggest(true)
                                          .HtmlAttributes(new { style = "width:100%;" })
                                                )
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("txtByHost", "Search By Hostname")
                                            @Html.Kendo().TextBox().Name("txtByHost").HtmlAttributes(new { @class = "form-control ShimanoTextBox", style = "width:100%", @onchange = "showMyTask()" })
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="width:100%; margin:0 auto;">
                                                <table id="myTaskGrid" class="table table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th width="10px">No</th>
                                                            <th>Time In</th>
                                                            <th>Visitor</th>
                                                            <th>Phone</th>
                                                            <th>Duration</th>
                                                            <th>Visitor Type</th>
                                                            <th>Host</th>
                                                            <th>Area</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="RowUrgentReport">
                                        <div class="col-md-12">
                                            <button class="btn btn-info" onclick="fnBtnUrgent()"><i class="fa fa-exclamation"> Get Urgent Report</i></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <button class="btn btn-info" id="btnBackSumVisitor"> Back</button>
                                            <div id="VisitorSummaryPerYear"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="VisitorSummaryPerMonthDept"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPerDay">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" id="title">Visitor Per </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="width:100%; margin:0 auto;">
                            <table id="VisitorPerDay" class="table table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Visitor</th>
                                        <th>Duration</th>
                                        <th>Visitor Type</th>
                                        <th>Host</th>
                                        <th>Status</th>
                                        <th>CreUsr</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" data-dismiss="modal" class="btn btn-danger">
                    <span id="btnLabel">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" id="titleDetail">Visitor Per </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="width:100%; margin:0 auto;">
                            <table id="VisitorDetail" class="table table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Date</th>
                                        <th>HostId</th>
                                        <th>Area</th>
                                        <th>Remark</th>
                                        <th>ApprovedBy</th>
                                        <th>TimeIn</th>
                                        <th>TimeOut</th>
                                        <th>Goods</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" data-dismiss="modal" class="btn btn-danger">
                    <span id="btnLabel">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    function GenerateVisitorPerYear() {

        $.ajax({
            url: '@Url.Action("GetSummaryVisitorPerYear", "Dashboard")',
            cache: false,
            type: "POST",
            success: function (data) {
                //for (x in data.DataX) {
                //    dataX.push(data.DataX[x]);
                $("#btnBackSumVisitor").hide('slow')
                //}
                RenderGradeChart(data.DataX, data.data);
            },
            error: function (data) {
                toastr.error("Please Call IT");
            }
        });
    }
    function GenerateVisitorPerMonth(month) {

        $.ajax({
            url: '@Url.Action("GetSummaryVisitorPerMonth", "Dashboard")',
            cache: false,
            type: "POST",
            data : {month:month},
            success: function (data) {
                //for (x in data.DataX) {
                //    dataX.push(data.DataX[x]);
                //}
                $("#btnBackSumVisitor").show('slow')
                RenderGradeChartPerMonth(data.DataX, data.data, month);
            },
            error: function (data) {
                toastr.error("Please Call IT");
            }
        });
    }
    function GeneratePieChart() {
        $.ajax({
            url: '@Url.Action("GetVisitorSummaryPerMonthDept", "Dashboard")',
            cache: false,
            type: "POST",
            success: function (data) {
                //for (x in data.DataX) {
                //    dataX.push(data.DataX[x]);
                //}
                RenderPieChartSummary(data);
            },
            error: function (data) {
                toastr.error("Please Call IT");
            }
        });
    }
    $("#btnBackSumVisitor").click(function () {
        GenerateVisitorPerYear()
    })
</script>
<script>
    function RenderGradeChartPerMonth(DataX, DataY, Month) {
        Highcharts.chart('VisitorSummaryPerYear', {
            chart: {
                type: 'column',
            },
            colors: ['#DC3545', '#28A745', '#CC0001', '#007E34'],
            title: {
                text: 'Visitor Summary per ' + Month
            },
            xAxis: {
                categories: DataX
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total Visitor By Visitor Type'
                },
                stackLabels: {
                    enabled: false,
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            legend: {
                align: 'left',
                x: 100,
                verticalAlign: 'top',
                y: 30,
                layout: 'vertical',
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: true
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name} =<br/> {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    events: {
                        click: function (event) {
                            var str =
                                //this.name + ',' +
                        event.point.series.xAxis.categories[event.point.x]
                            //alert(str);
                            GenerateVisitorPerDay(Month, str);
                        }
                    }

                },
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style : {
                            fontSize: '18px',
                        },
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: DataY
        });
    }
</script>
<script>
    function RenderGradeChart(DataX, DataY) {
        var dt = new Date();
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var thisMonth = months[dt.getMonth()];
        Highcharts.chart('VisitorSummaryPerYear', {
            chart: {
                type: 'column',
            },
            colors: ['#DC3545', '#28A745', '#CC0001', '#007E34'],
            title: {
                text: 'Visitor Summary per ' + thisMonth + "-" + (dt.getFullYear() - 1) + " until " + thisMonth + "-" + (dt.getFullYear())
            },
            xAxis: {
                categories: DataX
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total Visitor By Visitor Type'
                },
                stackLabels: {
                    enabled: false,
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            legend: {
                align: 'left',
                x: 100,
                verticalAlign: 'top',
                y: 30,
                layout: 'vertical',
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: true
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name} =<br/> {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    events: {
                        click: function (event) {
                            var str =
                                //this.name + ',' +
                        event.point.series.xAxis.categories[event.point.x]
                            //alert(str);
                            GenerateVisitorPerMonth(str)
                        }
                    }

                },
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style : {
                            fontSize: '18px',
                        },
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: DataY
        });
    }
</script>
<script>
    function RenderPieChartSummary(datas) {
        var dt = new Date();
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var thisMonth = months[dt.getMonth()];
        // Create the chart
        Highcharts.chart('VisitorSummaryPerMonthDept', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Top 5 of Invited Visitor By Department per ' +
       thisMonth + "-" + dt.getFullYear()
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} person(s)'
                    }
                }
            },
            exporting: {
                enabled: false
            },
            credits:{
                enabled:false
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> person(s)<br/>'
            },

            series: [
                {
                    name: "Total Visitor",
                    colorByPoint: true,
                    data: datas
                }
            ],
            //drilldown: {
            //    series: [
            //        {
            //            name: "Chrome",
            //            id: "Chrome",
            //            data: [
            //                [
            //                    "v65.0",
            //                    0.1
            //                ],
            //                [
            //                    "v64.0",
            //                    1.3
            //                ],
            //                [
            //                    "v63.0",
            //                    53.02
            //                ],
            //                [
            //                    "v62.0",
            //                    1.4
            //                ],
            //                [
            //                    "v61.0",
            //                    0.88
            //                ],
            //                [
            //                    "v60.0",
            //                    0.56
            //                ],
            //                [
            //                    "v59.0",
            //                    0.45
            //                ],
            //                [
            //                    "v58.0",
            //                    0.49
            //                ],
            //                [
            //                    "v57.0",
            //                    0.32
            //                ],
            //                [
            //                    "v56.0",
            //                    0.29
            //                ],
            //                [
            //                    "v55.0",
            //                    0.79
            //                ],
            //                [
            //                    "v54.0",
            //                    0.18
            //                ],
            //                [
            //                    "v51.0",
            //                    0.13
            //                ],
            //                [
            //                    "v49.0",
            //                    2.16
            //                ],
            //                [
            //                    "v48.0",
            //                    0.13
            //                ],
            //                [
            //                    "v47.0",
            //                    0.11
            //                ],
            //                [
            //                    "v43.0",
            //                    0.17
            //                ],
            //                [
            //                    "v29.0",
            //                    0.26
            //                ]
            //            ]
            //        },
            //        {
            //            name: "Firefox",
            //            id: "Firefox",
            //            data: [
            //                [
            //                    "v58.0",
            //                    1.02
            //                ],
            //                [
            //                    "v57.0",
            //                    7.36
            //                ],
            //                [
            //                    "v56.0",
            //                    0.35
            //                ],
            //                [
            //                    "v55.0",
            //                    0.11
            //                ],
            //                [
            //                    "v54.0",
            //                    0.1
            //                ],
            //                [
            //                    "v52.0",
            //                    0.95
            //                ],
            //                [
            //                    "v51.0",
            //                    0.15
            //                ],
            //                [
            //                    "v50.0",
            //                    0.1
            //                ],
            //                [
            //                    "v48.0",
            //                    0.31
            //                ],
            //                [
            //                    "v47.0",
            //                    0.12
            //                ]
            //            ]
            //        },
            //        {
            //            name: "Internet Explorer",
            //            id: "Internet Explorer",
            //            data: [
            //                [
            //                    "v11.0",
            //                    6.2
            //                ],
            //                [
            //                    "v10.0",
            //                    0.29
            //                ],
            //                [
            //                    "v9.0",
            //                    0.27
            //                ],
            //                [
            //                    "v8.0",
            //                    0.47
            //                ]
            //            ]
            //        },
            //        {
            //            name: "Safari",
            //            id: "Safari",
            //            data: [
            //                [
            //                    "v11.0",
            //                    3.39
            //                ],
            //                [
            //                    "v10.1",
            //                    0.96
            //                ],
            //                [
            //                    "v10.0",
            //                    0.36
            //                ],
            //                [
            //                    "v9.1",
            //                    0.54
            //                ],
            //                [
            //                    "v9.0",
            //                    0.13
            //                ],
            //                [
            //                    "v5.1",
            //                    0.2
            //                ]
            //            ]
            //        },
            //        {
            //            name: "Edge",
            //            id: "Edge",
            //            data: [
            //                [
            //                    "v16",
            //                    2.6
            //                ],
            //                [
            //                    "v15",
            //                    0.92
            //                ],
            //                [
            //                    "v14",
            //                    0.4
            //                ],
            //                [
            //                    "v13",
            //                    0.1
            //                ]
            //            ]
            //        },
            //        {
            //            name: "Opera",
            //            id: "Opera",
            //            data: [
            //                [
            //                    "v50.0",
            //                    0.96
            //                ],
            //                [
            //                    "v49.0",
            //                    0.82
            //                ],
            //                [
            //                    "v12.1",
            //                    0.14
            //                ]
            //            ]
            //        }
            //    ]
            //}
        });
    }
</script>

<script>
    function GenerateVisitorPerDay(month, day) {
        $("#title").html("Visitor Per " + day + "-" + month)
        $("#modalPerDay").modal("show")
        var table = $("#VisitorPerDay").DataTable({
            destroy: true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "language": {
                "emptyTable": "No Visitor By Today"
            },
            "scrollX" : true,
            "lengthChange": false,
            "ajax": {
                "url": "@Url.Action("GetSummaryVisitorPerDay", "Dashboard")",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    return $.extend({}, d, {
                        "month": month,
                        "Day": day,
                    });
                }
             },

                "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [0],
                    "searchable": false,
                    "orderable": false
                }],


                "rowCallback": function (row, data, index) {
                    if (data["NeedApprove"].toUpperCase() == "FALSE") {
                        $(row).find('td:eq(3)').css('background-color', '#00a65a');
                        $(row).find('td:eq(3)').css('color', 'white');
                    }
                    else {
                        $(row).find('td:eq(3)').css('background-color', '#d73925');
                        $(row).find('td:eq(3)').css('color', 'white');

                    }
                },


    "columns": [

        {
            "data": "No",
            render: function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
            }
        },
        { "data": "FullName", "name": "FullName", "title": "Visitor Name", "autoWidth": true },
        { "data": "Duration", "name": "Duration", "title": "Duration (Min)", "autoWidth": true },
        { "data": "VisitorType", "name": "VisitorType", "title": "Visitor Type", "autoWidth": true },
        { "data": "HostName", "name": "HostName", "title": "Host Name", "autoWidth": true },
        { "data": "Area", "name": "Area", "title": "Area", "autoWidth": true },
        { "data": "CreUser", "name": "CreUser", "title": "PIC", "autoWidth": true },



    ]
    }
        );
    }
</script>

<script>
    function ViewDetail(VisitorId, FullName) {
        $("#titleDetail").html("Detail History For "+ FullName)
        $("#modalViDetail").modal("show")
        var table = $("#VisitorDetail").DataTable({
            destroy: true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "language": {
                "emptyTable": "No Visitor History"
            },
            "scrollX" : true,
            "lengthChange": false,
            "ajax": {
                "url": "@Url.Action("GetHistoryVisitorById", "Dashboard")",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    return $.extend({}, d, {
                        "LogId": VisitorId,
                    });
                }
             },

                "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [0],
                    "searchable": false,
                    "orderable": false
                }],


    "columns": [

        {
            "data": "No",
            render: function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
            }
        },
        { "data": "DateStart", "name": "DateStart", "title": "Date", "autoWidth": true },
        { "data": "HostId", "name": "HostId", "title": "Host Name", "autoWidth": true },
        { "data": "Area", "name": "Area", "title": "Area", "autoWidth": true },
        { "data": "Remark", "name": "Remark", "title": "Remark", "autoWidth": true },
        { "data": "ApprovedBy", "name": "ApprovedBy", "title": "Approved By", "autoWidth": true },
        { "data": "TimeStart", "name": "TimeStart", "title": "Time Start", "autoWidth": true },
        { "data": "TimeEnd", "name": "TimeEnd", "title": "Time End", "autoWidth": true },
        { "data": "RemarkVisitor", "name": "RemarkVisitor", "title": "Remark Visitor", "autoWidth": true },



    ]
    }
        );
    }
</script>
<script>
    function fnBtnUrgent() {
        window.location = "@Url.Action("GetUrgentlyFileReport", "Dashboard")"
    }
</script>




